<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    
</head>
<body>
    <footer>
        <div class="footer-content">
            <h3> Developer</h3>
            <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
            <ul class="socials">
                <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://wwww.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://www.googleplus.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="http://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#"> Developer</a>  </p>
        </div>

    </footer>
</body>
</html>
